
manuscript/**
data/**
out/**
!/**/.gitkeep

notebook/**
!notebook/*.py
!notebook/*.ipynb
!notebook/*.rmd

# system files
.idea
*.iml
.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.egg-info/
eggs/
dist/
build/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# pytest
*.pytest_cache/
