
### project ###
manuscript/**
data/**
out/**
!/**/.gitkeep
cluster_job

notebooks/.csv

### system ###
.DS_Store
.AppleDouble
.LSOverride
._*
Icon
.TemporaryItems
.Trashes
Temporary Items

### IDE ###
.idea
*.iml
*.ipr
.idea/
.vscode/

### Python ###
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.so
.spyderproject
.spyproject
.ipynb_checkpoints
ipython_config.py

### R ###
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.Rcheck/
.Rproj.user/
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron