
manuscript/**
data/**
out/**
!/**/.gitkeep

notebook/**
!notebook/*.ipynb
!notebook/*.py
!notebook/*.Rmd
!notebook/*.html

# Pycharm
.idea
*.iml
.idea/

# system files
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.py[cod]

# pytest
*.pytest_cache/
